/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

/* :root {
} */

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя */

  /* Шаблоны цветов */
  --accent-color: #ff8dcb;
  --decor-color: #353430; /* цвет декоративных элементов */

  /* Заголовок уровня xxl */
  --title-main_color: #ffc2e6; /* цвет текста */
  --title-main_shadow-color: var(--accent-color); /* цвет тени текста */
  --title-xl_color: var(--decor-color); /* цвет текста */
  --title-l_color: var(--decor-color);
  --text-color: var(--decor-color);

  /* Переменные светлой темы */

  --page__bg-image: url(../images/cover-image-light.png);
  --decor__rec_display: none; /* скрываем декор-элемент REC */
  --bg-color: #fff1f7; /* bg-цвет main */

  /* outline у кнпок переключения темы */
  --theme-menu-button_outline-style: 1px solid rgba(50, 49, 45, 0.4);
}

/* Вам также нужно будет написать ряд подобных селекторов */
/* .theme-light .page {
  
}

.theme-light .header__decor-rec {
} */

@media (prefers-color-scheme: light) {
  :root {
    /* Дублируем переменные светлой темы */

    /* Шаблоны цветов */
    --accent-color: #ff8dcb;
    --decor-color: #353430; /* цвет декоративных элементов */

    /* Заголовки и текст */
    --title-main_color: #ffc2e6; /* цвет текста */
    --title-main_shadow-color: var(--accent-color); /* цвет тени текста */
    --title-l_color: var(--decor-color);
    --text-color: var(--decor-color);

    --page__bg-image: url(../images/cover-image-light.png);
    --decor__rec_display: none; /* скрываем декор-элемент REC */
    --bg-color: #fff1f7; /* bg-цвет main */

    /* outline у кнпок переключения темы */
    --theme-menu-button_outline-style: 1px solid rgba(50, 49, 45, 0.4);
  }
}

@media (width >= 1024px) {
  .header__title,
  .footer__title {
    --title-main_shadow-color: #ff0070; /* Pixel Perfect */
  }
}
