/*
  Переменные для вашего проекта и их переопределение под различные устройства
*/

:root {
  /* ПЕРЕМЕННЫЕ ОСНОВНОЙ (ТЁМНОЙ) ТЕМЫ */

  /* Шаблоны цветов */
  --accent-color: #ff0070;
  --decor-color: var(--accent-color); /* цвет декоративных элементов */

  /* Основной заголовок <h1> */
  --title-main_color: #db00ff; /* цвет текста */
  --title-main_shadow-color: var(--accent-color); /* цвет тени текста */

  /*
  КОМvЕНТАРИЙ К ЗАМЕЧАНИЮ:  

  Относительно замечания "Для одинаковых цветов используйте одну переменную": 
  в данном случае --title-xl_color не дублирует --accent-color, т.к. 
  --title-xl_color используется для хранения цвета текста заголовка секции, 
  который отличается для темной (variable.css)
                --title-xl_color: var(--accent-color);  
  и светлой (light.css)
                --title-xl_color: var(--decor-color);
  тем.

  Можно реализовать это было иначе -  через изменение --title-xl_color (или напрямую 
  через свойства) в отдельных правилах для темной и светлой тем отдельно. Пока оставил 
  как есть - жду Вашего решения.
  */

  --title-xl_color: var(--accent-color); /* цвет текста */
  --title-l_color: #000028;
  --text-color: #f1b2ce;

  --paddings-left-right: 10px; /* отступы на странице */
  --section_offset-top: 50px; /* top-отступ перед секциями */

  /* header */
  --page__bg-image: url(../images/cover-image-dark.png);
  --decor__rec_display: block; /* display светового индикатора у REC*/
  --frame-lines-size: 25px; /* размер линий декативной рамки у REC */
  --indicator-size: 9px; /* размер светового индикатора у REC */

  --bg-color: #000028; /* bg-цвет main */

  /* outline кнпок переключения темы */
  --theme-menu-button_outline-style: 1px solid rgba(255, 0, 112, 0.4);
}
